/* Mobile-First: default styles */

* {
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  margin: 0 auto;
  color: #1d2951;
}
  
  
.external-link::after {
  font: var(--fa-font-solid);
  content: "  \f08e";
}





footer {
  background-color: #1d2951;
  color: #f8f8ff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  text-align: center;
  font-size: 12px;
}

footer li {
  color: #f8f8f8;
  display: inline;
  text-align: center;
}

footer a, footer a:hover, footer a:visited, footer a:active {
  color: #f8f8f8;
}

footer a:hover {
  text-decoration: none;
}