/* Mobile-First: default styles */

* {
  font-family: 'Oxygen', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #1d2951;
  margin: 0 auto;
  color: #f8f8f8;
  letter-spacing: 2px;
}

a,
a:visited {
  text-decoration: underline;
  color: #1d2951;
}

a:hover,
a:active {
  text-decoration: none;
}

header {
  background-color: #1d2951;
  padding: 5px 10px;
  color: #fff;
}

header h1 {
  margin: 0 auto;
  padding: 0;

  margin-top: 35px;

  font-size: 40px;
  font-family: 'Alkatra', sans-serif;
  font-weight: 400;

  display: flex;
  justify-content: center;
  text-align: center;
}

main p {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3px;
}

.link-wrapper {
  margin: 0 auto;

  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.link-box a {
  border-radius: 20px;
  border: 3px lightskyblue solid;
  background-color: #f8f8f8;

  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-family: 'Alkatra', sans-serif;
  font-size: 20px;

  margin: 15px;

  width: 150px;
  height: 150px;

  text-decoration: none;
}

.link-box:hover a:hover {
  border: 3px #fff solid;
  background-color: #87cefa;
  color: #1d2951;
}

footer {
  background-color: #1d2951;
  color: #f8f8ff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  text-align: center;
  font-size: 12px;
}

footer li {
  color: #f8f8ff;
  display: inline;
  text-align: center;
}

footer a, 
footer a:hover, 
footer a:visited, 
footer a:active {
  color: #f8f8ff;
}

footer a:hover {
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  /* Tablet */

  header h1 {
    font-size: 70px;
  }

  .link-box a {
    width: 150px;
    height: 150px;
    font-size: 20px;
  }

  footer p {
    font-size: 12px;
  }
}

@media screen and (min-width: 900px) {
  /* Desktop */

  header h1 {
    font-size: 100px;
    margin-top: 50px;
  }

  main p {
    font-size: 20px;
  }

  .link-box a {
    margin: 30px;
    width: 300px;
    height: 300px;
    font-size: 40px;
  }

  footer p {
    font-size: 14px;
  }
}