* {
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
  scroll-behavior: smooth;
}

body {
  background-color: #1d2951;
  margin: 0 auto;
  color: #f8f8f8;
}

a,
a:visited {
  text-decoration: underline;
  color: #1d2951;
}

a:hover,
a:active {
  text-decoration: none;
}

header {
  background-color: #1d2951;
  padding: 5px 10px;
  color: #fff;
}

header h1 {
  margin: 0 auto;
  padding: 0;
  font-size: 100px;
  font-family: 'Alkatra', sans-serif;
  font-weight: 400;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
}

.link-wrapper {
  margin: 0 auto;

  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}


.link-box a {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border: 3px lightskyblue solid;
  background-color: #f8f8f8;
  margin: 30px;

  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


  font-family: 'Alkatra', sans-serif;
  font-size: 40px;

  text-decoration: none;

}

.link-box:hover a:hover{
  border: 3px #fff solid;
  background-color: #87cefa;

  color: #1d2951;
}



footer {
  background-color: #1d2951;
  color: #f8f8ff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  text-align: center;
  font-size: 12px;
}

footer li {
  color: #f8f8ff;
  display: inline;
  text-align: center;
}

footer a, footer a:hover, footer a:visited, footer a:active {
  color: #f8f8ff;
}

footer a:hover {
  text-decoration: none;
}




@media screen and (max-width: 700px) {

  header h1 {
    font-size: 70px;
  }

  .link-box {
    width: 150px;
    height: 150px;
    font-size: 20px;
  }

  .link-box:hover {
    background-color: #87cefa;
  }

}

@media screen and (max-width: 500px) {

  header h1 {
    font-size: 40px;
    color: green;
  }
}
