/.DS_Store
/samples/.DS_Store
/images/orig
/samples/orig
/creative_old.html
/cp640s22fp/harr2890_project.zip
/cp631f20fp/Anderson_Harris_Lao_ProjectPaper.pdf
/cp640s22fp/harr2890_project_report.pdf
/cp669w21fp/cp669_project_proposal.pdf
/cp640s22fp
/cp631f20fp
/cp669w21fp
cp670s21fp/.DS_Store
wayback/.DS_Store
images/.DS_Store
.gitignore
/zzz_archive
/cp670s21fp/orig
/cp670s21fp/old_png.zip
cp670s21fp/.DS_Store
images/.DS_Store
