* {
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;

}

.punch-up {
  display: inline;
  font-weight: 700;

}

h2 {
  text-align: left;

  font-size: 38px;
  font-family: 'Alkatra', sans-serif;
  letter-spacing: 5px;

  padding: 10px 0px;
  margin: 0 auto;
  width: 100%;
  border-top: lightgray 1px solid;
}




/* === Header === */

header {
  background-color: blue;
  color: white;

  padding: 0px 40px;

  border-radius: 30px;
}

header h1 {
  font-size: 60px;
  font-family: 'Alkatra', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

header .bio {
  padding: 0 30px 20px 30px;
  line-height: 28px;
}



/* === Portfolio === */

.portfolio h3 {
  text-align: left;

  font-size: 24px;
  font-family: 'Alkatra', sans-serif;
  letter-spacing: 5px;

  margin: 0 auto;
  width: 100%;

}

.portfolio-item {
  background-color: lightgoldenrodyellow;

  border: black 1px solid;
}

.portfolio h4 {
  background-color: red;
  font-size: 22px;

  
}

.portfolio .portfolio-item .item-description {
  background-color: cyan;
}

.portfolio .portfolio-item .item-description p {
  background-color: green;
}

.portfolio .portfolio-item .item-technologies {
  background-color: purple;
}

.portfolio .portfolio-item .item-contributions {
  background-color: lightsalmon;
}

.portfolio .portfolio-item .item-samples {
  background-color: lightseagreen;
}



/* === Work and Education === */

.history {
  margin: 0 auto;
  padding-left: 30px;
}

.work-experience {
  /* background-color: lightgray; */
  font-size: 16px;
}

.work-item, .education-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
}

.work-item .work-header, .education-item .education-header {
  width: 100%;
  max-width: 300px;
  border-radius: 0px;
  padding-left: 20px;
  padding-right: 20px;

  border-top-left-radius: 35px;

  /* background-color: aquamarine; */

  background-image: linear-gradient(110deg, #eeeeeeee, #ffffff00);

  border-left: black 10px solid;
  border-top: black 1.5px solid;

}

.work-item .work-header h3, .education-item .education-header h3 {
  font-size: 22px;
  border-bottom: gray 0.5px solid;
  padding-bottom: 20px;
}

.work-item .work-header .location, .education-item .education-header .location {
  font-size: 18px;
  font-weight: 600;
}

.work-item .work-header p, .education-item .education-header p {
  font-size: 14px;
}

.work-item .work-header h3, .work-item .work-header p, .education-item .education-header h3, .education-item .education-header p {
  text-align: right;
}

.work-item .work-details {
  width: 100%;
  max-width: 700px;

  /* background-color: lightpink; */

  padding-right: 20px;
  padding-left: 10px;

  border-left: black 10px solid;
}


.work-item .work-details li, .education-item .education-details li {
  line-height: 28px;
  padding: 10px;
  font-size: 16px;
}


.education-item .education-details  {
  width: 100%;
  max-width: 700px;
  border-left: black 10px solid;
  padding: 0px 20px 20px 10px;
}

.education-item .education-details .course {
  font-size: 16px;
  font-weight: 700;
  padding-left: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.education-item .education-details .course-details {
  font-size: 14px;
  padding-left: 50px;
  padding-top: 0;
}





/* Reference: https://stackoverflow.com/questions/65179019/how-to-change-page-content-or-division-content-on-button-click
 */

.menu {
  display: flex;
}

.menu button {
  margin: 10px;
  cursor: pointer;

  line-height: 30px;
  font-size: large;

  font-family: overlock;

  letter-spacing: 2px;
  border-style: dotted;
  border-width: thick;


  
  padding: 15px;
  border-radius: 5px;
}

.menu button small {
  font-size: x-small;
}

.menu button:hover {
  background-color: red;
  font: green;
}

.button_active {
  color: white;
  background-color: teal;
  border-color: black;
  border-style: groove;
  border-width: thick;

}

.content_inside {
  display: none;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.content_inside_active {
  display: block;
}

